
<ion-header>
  <ion-toolbar>
      <title>
      Product list
      </title>
   <ion-buttons slot="start">
      <ion-menu-button autoHide="true" >
          <!-- <img src="assets/img/angularlogo.png" height='20' width='80'> -->
      </ion-menu-button></ion-buttons>
      <img src="assets/img/s1.jpeg" height='20' width='80'>
      <ion-buttons slot="primary">
          <ion-button routerLink="/cart">
      <ion-icon name="cart" slot="end" style="zoom:2.0;" ></ion-icon>
      </ion-button>
         <!--if we 
       if we want to use side menu in anyPage for that we have to use <ion-menu-button></ion-menu-button>-->
   </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
<ion-label>
  <h1> {{name}} </h1>
  </ion-label>
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
            <ion-card *ngFor="let product of productDetails ">
              <ion-card-content class="content-box">
                  <ion-thumbnail slot="end">
                      <ion-img [src]="product.image_url"></ion-img>
                    </ion-thumbnail><br>
              <h2 class="md-text"> Name:
                {{ product.name }}</h2>
                    <!-- <img src="https://img.mobiscroll.com/demos/bookpic.png"> -->
                <!-- <ion-thumbnail slot="end">
                    <ion-img [src]="product.image_url"></ion-img>
                  </ion-thumbnail><br> -->
             <h2 class="md-text">Description:    {{ product.description }}</h2><br>
             <!-- <h2 class="md-text"> Veg/Nonveg:     {{ product.veg_non_veg }}</h2><br>
             <h2 class="md-text">Uom:    {{ product.uom }}</h2><br>
             <h2 class="md-text">weight:    {{ product.weight }}</h2><br> -->
            </ion-card-content> 
            </ion-card>
            </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<!--<ion-content padding>
  <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
            <ion-item *ngFor="let product of products ">
                <ion-label>
                    <h1>{{ product.name }}</h1>
                  </ion-label>
                <ion-thumbnail slot="end">
                  <ion-img [src]="product.image_url"></ion-img>
                </ion-thumbnail>
                
              </ion-item>
              
    
            </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>-->
<!--ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>

    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button>Default</ion-button>

</ion-content>-->
<!--<ion-app>
<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item Menu Item></ion-item>
      <ion-label>catagory</ion-label>
      <ion-item Menu Item></ion-item>
      
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-app>-->


