img{
    height: 10%;
    width: 10%;
}
#cart-btn {
    position: relative;
 }
 
 #cart-badge {
    // background-color: red;
    position: absolute;
     top: 0px;
   // bottom: 10px;
    right: 15px;
 }













// #cart-btn {
//     position: relative;
//     width: 20px;
//     top:0px;
//     right: 0px;
//     overflow: visible!important;
//  }
 
//  #cart-badge {
//     background-color: red;
//         position: absolute;
//         top: 0px;
//         right: 0px;       
//          border-radius: 30%;
//  }



//  #notification-button {            
//     position: relative;
//     width: 42px;
//     top:1px;
//     right: 1px;
//     overflow: visible!important;
// }


// #notifications-badge {
//     background-color: red;
//     position: absolute;
//     top: -3px;
//     right: -3px;
//     border-radius: 100%;
// }


// .badge {
//     padding-left: 9px;
//     padding-right: 9px;
//     -webkit-border-radius: 9px;
//     -moz-border-radius: 9px;
//     border-radius: 9px;
//   }
  
//   .label-warning[href],
//   .badge-warning[href] {
//     background-color: #c67605;
//   }
//   #lblCartCount {
//       font-size: 12px;
//       background: #ff0000;
//       color: #fff;
//       padding: 0 5px;
//       vertical-align: top;
//       margin-left: -10px; 
//   }